.workHeadingMainDiv {
    background: linear-gradient(to bottom right,
            #000000a1,
            #000000a1), url("../public/workbg.jpg");
    background-size: cover;
    background-position: center;
}

.workSubDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 60px;
}

.workHeading {
    color: #FFF;
    margin: 0;
    font-size: 40px;
}

.workParaLink {
    text-decoration: none;
}

.workPara,
.workBreadCrumbHomeLink {
    color: #FFF;
}

.workBreadCrumbActiveLink,
.workSubHeading {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #4181c1 0%, #bd2065 100%);
    color: #0000 !important;
}

.workBreadCrumbActiveLink {
    font-weight: 500;
}

.workSubHeadingDiv {
    text-align: center;
}

.workSubHeading {
    text-transform: uppercase;
    font-size: 28px;
    margin-bottom: 0;
}

.workAllImages {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;
    gap: 20px 0;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0 30px 0;
}

.workTopPara {
    margin: 8px 0 30px 0;
}

.workPara {
    text-align: center;
}

.workTopParaDiv {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1050px) {
    .workSubHeading {
        margin-top: 6px;
    }
}

@media only screen and (max-width: 900px) {
    .workAllImages {
        grid-template-columns: 31.5% 31.5% 31.5%;
        margin-bottom: 10px;
        gap: 15px 0;
    }

    .workTopParaDiv {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .workAllImages {
        grid-template-columns: 48% 48%;
        margin-bottom: 10px;
    }
}


@media only screen and (max-width: 465px) {
    .workHeading {
        font-size: 35px;
    }

    .workPara {
        margin: 10px 0 0 0;
    }
}

@media only screen and (max-width: 440px) {
    .workAllImages {
        gap: 10px 0;
    }

    .workAllImages {
        margin-bottom: 0;
    }
}